body{
    font-family:"poppins";
    display: grid;
        grid-template-areas:
            "nav nav"
            "header-img header-img"
            "content content"
            "footer footer";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
}

nav {
    grid-area: nav;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    
        }
ul{
    list-style-type: none;
}
.header-img {
    display: block;
    padding-left: 50px;
    justify-content:center;
    width: 50%
    
        }
.title{
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
        }        
.meta-item {
    display:flex;
    justify-content:center;
    color: black;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.article-title{
    color: #ca97ca;
    font-style: normal;
    font-weight: bold;
    text-decoration-line: underline;
}
.meta-title{
    color: #300030;
    font-style: italic;
    font-weight: normal;
}
.intro{
    color: #300030;
    font-style: normal;
    font-weight: normal;
}
.list{
    color: #300030;
    font-style: normal;
    font-weight: normal;  
}
.outro{
    color: #300030;
    font-style: normal;
    font-weight: normal;   
}
.article-author{
    color: #ca97ca;
    font-style: normal;
    font-weight: bold;
}
.avatar{
width: 50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
}
.card-container{
    display: flex;
    margin: 10px;;
}
.w3-card-4{
    background-color: rgb(243, 241, 241);
    display: flex;
    flex-direction: column;
    width: 350px;
}

.w3-container{
    background-color: #300030;
    color: #ffffff;
    padding: 10px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin{
    background: #55ACEE;
    color: white; 
}
.content-container {
        grid-area: content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    padding-bottom:40px;
        }

        #web-section-footer{
            grid-area:footer;
            display:flexbox;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            background-color: pink;
            border-radius: 5px;
        }
        .footer-inner{
            display: flexbox;
            float: left;
            justify-content: space-between;
            padding: 10px;
        }
        .content-info{
            color: #ffffff;
            font-style: normal;
            font-weight: normal;
        }
        .footer-title{
            color: #ffffff;
            font-style: normal;
            font-weight: bold;
            text-align: left;
            justify-content: left; 
        }
        
        .link-list-item{
            color: #ffffff;
            font-style: normal;
            font-weight: normal;
            text-align: left;
            justify-content: left;
            list-style-type: none;
        }
        .footer-text{
            color: #ffffff;
            font-style: normal;
            font-weight: bold; 
        }
        .subscribe-info{
            color: #ffffff;
            font-style: normal;
            font-weight: normal; 
        }